<div class="row">
  <div class="col-6 vertical-center">
    <div style="width: 350px">
      <form [formGroup]="dataForm">
        <div class="form-group">
          <label for="date_field">Date</label>
          <input type="date" class="form-control" id="date_field" formControlName="date">
          <span *ngIf="containInErrorList('date')">{{getErrorMsg('date')}}</span>
        </div>

        <div class="form-group">
          <label for="first_name_field">First name</label>
          <input type="text" class="form-control" id="first_name_field" formControlName="first_name">
          <span *ngIf="containInErrorList('first_name')">{{getErrorMsg('first_name')}}</span>
        </div>
        <div class="form-group">
          <label for="last_name_field">Last name</label>
          <input type="text" class="form-control" id="last_name_field" formControlName="last_name">
          <span *ngIf="containInErrorList('last_name')">{{getErrorMsg('last_name')}}</span>
        </div>

        <button class="btn btn-primary" (click)="sendData()">
          <span class="spinner-border spinner-border-custom" *ngIf="loading"></span>
          submit
        </button>
      </form>
    </div>
  </div>

  <div class="col-6">
    <div *ngIf="tableData">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of tableData.data; let i = index">
          <!-- Отображение таблицы с данными. Индекс +1 для красоты-->
          <th scope="row">{{i + 1}}</th>
          <td>{{element.date}}</td>
          <td>{{element.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>







