.form-group span {
  font-size: 13px;
  color: red;
}

.btn {
  border: none;
  color: white;
  padding: 7px 20px 7px 20px;
  border-radius: 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

.spinner-border-custom {
  width: 1.4rem;
  height: 1.4rem;
  border-width: 0.1em;
  margin-right: 10px;
}
